@import "~assets/styles/variables";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  @include lp-gradient('default');
  height: calc(#{$lp-hero-height} - 4rem);
  padding: 2rem;
  color: white;
  h2 {
    color: $lp-light-theme-color;
  }
}