@import "~assets/styles/variables";

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100vh - #{$lp-hero-height} - #{$lp-top-menu-height} - 4rem);
  background-color: $lp-light-theme-color;
  padding: 1rem;
  box-sizing: border-box;
}

.page-body {
  display: block;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: $lp-boxed-responsive;
  background-color: rgba(255,255,255,.9);
  padding: 1rem;
  box-sizing: border-box;
}

.page-editor {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  form {
    width: 100%;
    max-width: $lp-boxed-responsive;
    textarea {
      width: 100%;
      max-width: $lp-boxed-responsive;
      font-size: .8rem;
    }
  }
}