$lp-primary-color: #d50000;
$lp-primary-light-color: #ff5131;
$lp-primary-dark-color: #9c0000;
$lp-secondary-color: #546e7A;
$lp-secondary-light-color: #708690;
$lp-secondary-dark-color: #1b3039;
$lp-fullwhite: #fff;
$lp-background-ligth: #e1e2e1;